params {

    input_paired_1 = "${baseDir}/input/raw/paired_1/*_{1,2,R1,R2}*.fastq*"
    input_paired_2 = "${baseDir}/input/raw/paired_2/*_{1,2,R1_R2}*.fastq*"

    input_gtf = "${baseDir}/input/annotation/genes.gtf"

    cm_wrapper = "${baseDir}/scripts/cm_wrapper.py"

    index = "${baseDir}/input/hg38/hg38"

    output_dir = "${baseDir}/output"

    anchor_length = 8
    mate_std_dev = 200
    segment_length = 25

}

docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    executor = 'k8s'
    container = "baekdookim/nextflow@sha256:ef1e1697f774f81f5def970d7d0708fd733b59b3d51c464ad0efbeeb2fd0ab46"
}

trace {
    enabled = true
}